.brand-logo .material-icons.cloudy {
  font-size: 50px;
  margin-right: 5px;
}

.brand-logo .material-icons.sunshine {
  font-size: 40px;
}

.app-header .account {
  padding-left: 2px;
  padding-right: 0;
  color: #607d8b;
}

.app-header .account:focus {
  background-color: #e4e4e4;
}

.app-header .account .material-icons {
  font-size: 28px;
  line-height: 32px;
}

.app-header .account .material-icons:first-child {
  float: left;
  padding-right: 8px;
}

.app-header .account .material-icons:last-child {
  margin-left: 0;
}
