.app-header .brand-logo {
  position: relative;
  left: 0;
  transform: none;
  font-size: 24px;
}

.brand-logo .material-icons.cloudy {
  font-size: 46px;
  margin-right: 5px;
}

.brand-logo .material-icons.sunshine {
  font-size: 36px;
}

.app-header .account {
  padding-left: 2px;
  padding-right: 0;
  color: #607d8b;
}

.app-header .account:focus {
  background-color: #e4e4e4;
}

.app-header .account .material-icons {
  font-size: 28px;
  line-height: 32px;
}

.app-header .account .material-icons:first-child {
  float: left;
  padding-right: 8px;
}

.app-header .account .material-icons:last-child {
  margin-left: 0;
}

.dropdown-content.active {
  margin-top: 35px;
}
