.sidebar .card .card-content {
  padding: 5px 10px;
}

.sidebar .close-button {
  font-size: 16px;
  position: absolute;
  right: 10px;
  top: 10px;
}

.sidebar .close-button:hover {
  cursor: pointer;
}

.sidebar .card .city-name {
  margin-left: 50px;
  margin-bottom: 0;
}

.sidebar .card.active .city-name {
  font-weight: bold;
}

.sidebar .weather-icon {
  position: absolute;
  left: 5px;
  top: 0;
}

.sidebar .temperature {
  font-size: 45px;
  text-align: right;
}

.sidebar .card .row {
  margin-bottom: 5px;
}

.sidebar .summary {
  font-size: 13px;
  padding-left: 15px;
}
