#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.brand-logo .material-icons.cloudy {
  font-size: 50px;
  margin-right: 5px;
}

.brand-logo .material-icons.sunshine {
  font-size: 40px;
}

.app-header .account {
  padding-left: 2px;
  color: #607d8b;
}

.app-header .account .material-icons {
  float: left;
  font-size: 28px;
  line-height: 32px;
  padding-right: 8px;
}
